.welcome {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  background-color: #2ABAF7;
  color: #E8FFFF;
  margin-bottom: 0;
}

main.welcome {
  margin-bottom: 0;
}

.welcome .btn-primary {
  background-color: #2ABAF7;
  border-color: #E8FFFF;
}

.welcome .btn-primary:hover {
  background-color: #2ABAF7 !important;
  border-color: #E8FFFF !important;
}

.welcome .btn-outline-primary {
  border-color: #2ABAF7;
  color: #E8FFFF;
}